body.single-post {
    #primary.with-right-sidebar {
        @apply tw-inline-block !important;
    }
}

@media (max-width: 639px) {
    body.single-post {
        #main {
            @apply tw-float-none;

            .container {
                @apply tw-float-none !important;
            }
            #primary.with-right-sidebar,
            #secondary-right.secondary-has-right-sidebar {
                @apply tw-float-none;
            }
            #secondary-right {
                .widget {
                    @apply tw-float-none;

                    ul {
                        @apply tw-float-none;
                    }
                }
            }
        }
    }
}
