.main-title-section-wrapper {
    @apply tw-relative tw-z-20 tw-mb-0;

    .main-title-section-bg {
        @apply tw-bg-blue;

        &:before {
            @apply tw-bg-transparent !important;
        }

    }

    .container {

        .main-title-section {

            > * {
                @apply tw-text-2xl !important;
            }
        }

        .breadcrumb {
            @apply tw-text-base !important;
        }
    }
}

@screen lg {

    .main-title-section-wrapper {

        .container {

            .main-title-section {

                > * {
                    @apply tw-text-3xl !important;
                }
            }
        }
    }

}
