body.woocommerce-cart {

    .cart {
        .product-subtotal {
            .tax_label {
                @apply tw-hidden;
            }
        }
    }

    .wc-proceed-to-checkout {
        @apply tw-w-full;

        .checkout-button {
            margin: 0;
            padding: 20px 80px;
            width: 100%;
        }
    }
}
