body.woocommerce-checkout {

    #main {
        .container {
            @apply tw-mx-4 tw-w-auto;

        }
    }

    .checkout {

        .wc_payment_method {

            &.payment_method_stripe {

                label {
                    @apply tw-flex tw-flex-row tw-flex-wrap;
                }

                .stripe-icon {
                    @apply tw-inline-block;
                }
            }
        }

        .woocommerce-terms-and-conditions-wrapper {

            .woocommerce-privacy-policy-text, .woocommerce-terms-and-conditions-checkbox-text {
                @apply tw-font-normal !important;
            }
        }
    }

}

@screen sm {
    body.woocommerce-checkout {

        #main {
            .container {
                @apply tw-mx-auto tw-max-w-screen-sm;
            }
        }

    }
}

@screen md {
    body.woocommerce-checkout {

        #main {
            .container {
                @apply tw-max-w-screen-md;
            }
        }

    }
}

@screen lg {
    body.woocommerce-checkout {

        #main {
            .container {
                @apply tw-max-w-screen-lg;
            }
        }

    }
}

@screen xl {
    body.woocommerce-checkout {

        #main {
            .container {
                @apply tw-max-w-screen-xl;
            }
        }

    }
}
