.tw-btn {
    @apply tw-inline-block tw-py-2 tw-px-4 tw-rounded tw-leading-none tw-text-center;
}

.tw-btn-blue {
    @apply tw-bg-blue tw-text-white;
}

.tw-btn-turquoise {
    @apply tw-bg-turquoise tw-text-white;
}

.tw-btn-blue:hover, .tw-btn-turquoise:hover {
    @apply tw-text-white;
}

.tw-padded-x {
    @apply tw-px-4;
}

@screen md {
    .tw-padded-x {
        padding-left: 4%;
        padding-right: 4%;
    }
}

@screen lg {
    .tw-btn {
        @apply tw-py-3 tw-px-6;
    }
    .tw-padded-x {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@screen xl {
    .tw-padded-x {
        padding-left: 10%;
        padding-right: 10%;
    }
}
