#footer {

    .menu-footer {
        @apply tw-list-none tw-mb-0 tw-flex tw-items-center tw-justify-center;

        .menu-item {
            @apply tw-inline-block tw-pb-0;

            &:not(:first-child) {

                &:before {
                    content: '';
                    @apply tw-inline-block tw-h-4 tw-w-px tw-bg-white mx-2;
                }
            }
        }
    }
}
