
html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    @apply tw-mb-2;
}

b, strong {
    @apply tw-font-bold;
}

p {
    @apply tw-mb-4;
}

.no-hover-effect {
    &:hover {
        color: inherit !important;
    }
}

body.woocommerce-page, body.page-template-default {

    .wrapper {
        .inner-wrapper {
            @apply tw-flex tw-flex-col;

            #main {
                @apply tw-float-none;

                .container {
                    @apply tw-w-full tw-max-w-full;
                }
            }
        }
    }

    &:not(.home) {
        #main {
            .container {
                @apply tw-mx-4 tw-w-auto;

                #primary {
                    @apply tw-pb-0;
                }
            }
        }
    }
}

@media (max-width: 639px) {
    body.blog {
        #main {
            @apply tw-float-none;

            #primary.with-right-sidebar,
            #secondary-right.secondary-has-right-sidebar {
                @apply tw-float-none;
            }
            #secondary-right {
                .widget {
                    @apply tw-float-none;

                    ul {
                        @apply tw-float-none;
                    }
                }
            }
        }
    }
}

@screen sm {
    body.woocommerce-page, body.page-template-default {

        &:not(.home) {
            #main {
                .container {
                    @apply tw-mx-auto tw-max-w-screen-sm;
                }
            }
        }
    }
}

@screen md {
    body.woocommerce-page, body.page-template-default {

        &:not(.home) {
            #main {
                .container {
                    @apply tw-max-w-screen-md tw-px-4;
                }
            }
        }
    }
}

@screen lg {
    body.woocommerce-page, body.page-template-default {

        &:not(.home) {
            #main {
                .container {
                    @apply tw-max-w-screen-lg tw-px-6;
                }
            }
        }
    }

    #section-guarantee {
        padding-right: 2.5%;
    }
}


@screen xl {
    body.woocommerce-page, body.page-template-default {

        &:not(.home) {
            #main {
                .container {
                    @apply tw-max-w-screen-xl tw-px-8;
                }
            }
        }
    }

    #section-guarantee {
        padding-right: 5%;
    }
}
