#header-wrapper {
    @apply tw-mb-0 !important;

    #header {

        .container {
            @apply tw-max-w-full tw-mx-auto;

            .no-header-top {
                @apply tw-hidden;
            }

            .no-header {
                @apply tw-px-4;

                .item-has-icon {

                    &.icon-position-left {
                        .menu-item-icon {
                            @apply tw-mr-2 tw-p-0;
                        }
                    }

                    &.icon-position-right {
                        .menu-item-icon {
                            @apply tw-ml-2 tw-p-0;
                        }
                    }

                }

                .cart-counter-item {
                    span[data-cart-counter] {
                        &:after {
                            content: " (" attr(data-cart-counter) ") ";
                            @apply tw-inline-block tw-ml-1;
                        }
                    }
                }
            }
        }
    }
}

@screen sm {
    #header-wrapper {
        #header {

            .container {
                @apply tw-w-full;
            }

            .no-header {
                @apply tw-flex tw-flex-row tw-items-center tw-justify-between;
            }
        }
    }
}

@screen md {
    #header-wrapper {
        @apply tw-mb-0;

        #header {

            .container {
                @apply tw-max-w-full;

                .no-header-top {
                    @apply tw-hidden;
                }

                .no-header {
                    padding-left: 4%;
                    padding-right: 4%;
                }
            }
        }
    }
}

@screen lg {
    #header-wrapper {
        @apply tw-mb-0;

        #header {

            .container {
                @apply tw-max-w-full;

                .no-header-top {
                    @apply tw-hidden;
                }

                .no-header {
                    padding-left: 5%;
                    padding-right: 5%;
                }
            }
        }
    }
}

@screen xl {
    #header-wrapper {
        @apply tw-mb-0;

        #header {

            .container {
                @apply tw-max-w-full;

                .no-header-top {
                    @apply tw-hidden;
                }

                .no-header {
                    padding-left: 10%;
                    padding-right: 10%;

                    .item-has-icon {

                        &.icon-position-left {
                            .menu-item-icon {
                                @apply tw-mr-3;
                            }
                        }

                        &.icon-position-right {
                            .menu-item-icon {
                                @apply tw-ml-3;
                            }
                        }

                    }
                }
            }
        }
    }
}
