body.home {

    &.fullwidth-page {
        #main {
            .container {
                @apply tw-px-0 tw-mt-0;

                #primary {
                    @apply tw-pb-0;
                }
            }
        }
    }

    #homepage-carousel {

        .product-info-wrapper {
            bottom: theme('spacing.4');

            &.on-left {
                @apply tw-text-left;
                left: theme('spacing.4');
            }

            &.on-right {
                @apply tw-text-right;
                right: theme('spacing.4');
            }
        }
    }

    #content {
        @apply tw-py-6;
    }

}

@screen md {

    body.home {

        #homepage-carousel {

            .product-info-wrapper {

                &.on-left {
                    left: 4%;
                }

                &.on-right {
                    right: 4%;
                }
            }
        }
    }

}

@screen lg {

    body.home {

        #homepage-carousel {

            .product-info-wrapper {
                bottom: unset;
                top: 50%;
                transform: translateY(-50%);

                &.on-left {
                    @apply tw-text-left;
                    left: 5%;
                }

                &.on-right {
                    @apply tw-text-left;
                    right: 5%;
                }

            }
        }

        #content {
            @apply tw-py-10;
        }
    }
}

@screen xl {

    body.home {

        #homepage-carousel {

            .product-info-wrapper {

                &.on-left {
                    @apply tw-text-left;
                    left: 10%;
                }

                &.on-right {
                    @apply tw-text-left;
                    right: 10%;
                }

            }
        }

        #content {
            @apply tw-py-12;
        }
    }
}
