body.single-product {

    .container {

        #primary {
            @apply tw-pb-0;
        }
    }

    .product {

        p {
            @apply tw-text-black;

            strong {
                @apply tw-text-black;
            }
        }

        .woocommerce-product-gallery {
            @apply tw-mt-0 !important;

            span.out-of-stock, span.onsale {
                @apply tw-hidden;
            }
        }

        .summary {
            @apply tw-m-0 !important;

            .product_title {
                @apply tw-leading-none tw-mb-4;
            }

            .price {

                .woocommerce-Price-regular {
                    @apply tw-text-2xl tw-font-bold !important;
                }

                .woocommerce-Price-including-tax {
                    @apply tw-text-black tw-text-lg tw-opacity-100 !important;

                    .amount {
                        @apply tw-text-black !important;
                    }
                }
            }

            p.stock {
                @apply tw-block tw-border-none tw-p-0 tw-rounded-none tw-font-normal tw-text-base !important;

                &.in-stock {
                    @apply tw-text-green !important;
                }

                &.out-of-stock {
                    @apply tw-text-red !important;
                }
            }

            form.cart {
                button.single_add_to_cart_button {
                    @apply tw-mt-6;
                }
            }
        }

        #description {}

        #technical_details {

            .content {
                p {
                    @apply tw-mb-1;
                }
            }
        }

        .related.products {
            @apply tw-mt-12;

            > h2 {
                @apply tw-text-2xl tw-font-bold tw-text-black tw-mb-8;
            }

            .product {
                .product-wrapper {
                    .product-details {
                        .product-price {
                            @apply tw-hidden;
                        }
                    }
                }
            }
        }
    }

}

@screen sm {
    body.single-product {
        .product {
            .summary {
                form.cart {
                    @apply tw-flex tw-items-start;

                    button.single_add_to_cart_button {
                        @apply tw-float-none tw-mt-0;
                    }
                }
            }
        }
    }
}

@screen md {

    body.single-product {
        .product {
            .woocommerce-product-gallery {
                @apply tw-mb-0 !important;
            }
        }
    }
}
